 :root {
  --main-green: #4AF02B;
  --bg-green: #42592E;
}

h1{
	font-family: "Lucida Console", Monaco, sans; 
	text-align:center; 
	color:var(--main-green);
}

h2{ 
	font-family: "Lucida Console", Monaco, sans; 
	text-align:center; 
	color:var(--main-green);
}

/* Special green colour for IAC: #4AF02B; background green: #40970E */

*{
	margin-top: 10; 
	padding: 0;
}

#mainContainer{
	text-align: center; 
	height: 100%; 
	width:100%; 
	font-size: 20; 
	margin-top: 5%;
}

.term, .dot, .sideContainer, .textContainer, .resultContainer{
	display: inline-block; 
	*display: inline; 
	zoom: 1; 
	vertical-align: top;
}

.term{
	width: 6%; 
	align-items: center;
}

.dot{
	width: 3%; 
	align-items: center;
}

.sideContainer{
	width: 6%; 
	align-items: center;
}

.resultContainer{
	width: 12%; 
	align-items: center;
}

.textContainer{
	width: 60%; 
	align-items: center;
}

p{
	color:var(--main-green); 
	margin:0;
}

.largeTerm{
	font-family: "Times New Roman", Times, serif; 
	font-size: 50px; 
	font-weight: bold; 
	font-style: italic;
}

.generalTerm{
	text-align: center; 
	font-family: "Times New Roman", Times, serif; 
	font-weight: bold; 
	font-style: italic;
}

.largeNum{
	font-family: "Lucida Console", Monaco, sans; 
	font-size: 50px;
}

.smallNum{
	font-family: "Lucida Console", Monaco, sans; 
	margin-bottom: 30px; 
	font-size: 25px;
}

.resultFont{
	text-align: center; 
	margin-top: 10px; 
	font-family: "Lucida Console", Monaco, sans; 
	font-weight: bold;
	color: white;
	font-size: 15px; 
}

.selectFont{
	text-align: center; 
	margin-top: 10px; 
	font-family: "Lucida Console", Monaco, sans; 
	font-size: 15px;
}

.textFont{
	text-align: left; 
	margin-top: 10px; 
	margin-left: 20px; 
	font-family: "Lucida Console", Monaco, sans; 
	font-size: 15px;
}

.lhFont{
    color: white;
    font-family: "Lucida Console", Monaco, sans;
    font-size: 15px;
}

.slideContainer{
    transform: rotate(270deg);
	text-align: center;
    margin-top: 200px;
    margin-bottom: 60px;
}

.slider{
    align-items: center;
	-webkit-appearance: none;
	width: 200px;
	height: 10px;
	border-radius: 8px;
	background: var(--bg-green);
	outline: none;
	opacity: 0.5;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover{
	opacity: 1;
}

.slider::-moz-range-thumb{
	width: 33px;
	height: 33px;
	border-radius: 50%;
	background: var(--main-green);
	cursor: pointer;
}

.slider::-webkit-slider-thumb{
	-webkit-appearance: none;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	background: var(--main-green);
	cursor: pointer;
}

.slider::-ms-thumb{
    width: 33px;
	height: 33px;
	border-radius: 50%;
	background: var(--main-green);
    cursor: pointer;
}

#submit{
	font-family: "Lucida Console", Monaco, sans;
	margin-top: 10px;
	margin-bottom: 20px;
	background-color: black;
	padding: .8em;
	-moz-border-radius: 15px;
	-webkit-border-radius: 5px;
	border-radius: 15px;
	color: var(--main-green);
	font-size: 20px;
	text-decoration: none;
	border-color: var(--main-green);
	border-style: solid;
	border-width: medium;
}

#submit:hover{
	background-color: var(--bg-green);
}