 :root{
  --main-green: #4AF02B;
  --bg-green: #42592E;
  --general: white;
  --bg-general: #808080;
  --neutral: #6BCAFA;
  --optimistic: #A3E879;
  --doubtful: #F76248;
}

body {
	/*Image from: https://www.spacetelescope.org/images/heic0602a/*/
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("bg.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
	font-family: "Lucida Console", Monaco, sans; 
	text-align: center; 
	color: var(--general);
}

h2{ 
	font-family: "Lucida Console", Monaco, sans; 
	text-align: center; 
	color: var(--general);
}

.centreButton{
  display: flex;
  justify-content: center;
}

*{
	padding: 0;
}

.mainContainer{
	text-align: center; 
	align-items: center;
	height: 100%; 
	width: 100%; 
	font-size: 20; 
	margin-top: 5%;
}

.term, .dot, .sideContainer, .textContainer, .resultContainer, .timeContainer{
	display: inline-block; 
	*display: inline; 
	zoom: 1; 
	vertical-align: top;
}

.term{
	width: 6%; 
	align-items: center;
}

.timeContainer{
	width: 30%; 
}

.dot{
	width: 3%; 
	align-items: center;
}

.sideContainer{
	width: 6%; 
	align-items: center;
	/*margin-bottom: 2%;*/
}

.resultContainer{
	margin-top: 0.3%;
	width: 12%; 
	align-items: center;
    top: 50%;
}

.textContainer{
	width: 70%; 
	align-items: center;
}

p{ 
	margin: 0;
	margin-bottom: 3%;
}

.statsPar{
	margin:0;
	font-size: 20px;
	color: var(--general);
	font-family: "Lucida Console", Monaco, sans;
}

.medianParA{
	margin:0;
	font-size: 20px;
	color: var(--general);
	font-weight: bold;
	text-align: right;
	font-family: "Lucida Console", Monaco, sans;
}

.medianParB{
	margin:0;
	font-size: 20px;
	color: var(--general);
	font-weight: bold;
	font-family: "Lucida Console", Monaco, sans;
}

.timePar{
	margin:0;
	text-align: right;
	font-size: 20px;
	color: var(--general);
	font-family: "Lucida Console", Monaco, sans;
}

.largeTerm{
    color: var(--main-green);
	font-family: "Times New Roman", Times, serif; 
	font-size: 50px; 
	font-weight: bold; 
	font-style: italic;
	margin-bottom: 10%;
}

.generalTerm{
	color: var(--general);
	text-align: center; 
	font-family: "Times New Roman", Times, serif; 
	font-weight: bold; 
	font-style: italic;
}

.largeNum{
	color: var(--main-green);
	font-family: "Lucida Console", Monaco, sans; 
	font-size: 30px;
}

.smallNum{
	color: var(--main-green);
	font-family: "Lucida Console", Monaco, sans; 
	font-size: 22px;
}

.smallText{
	color: var(--general);
	font-family: "Lucida Console", Monaco, sans; 
	font-size: 22px;
}

.resultFont{
    color: var(--main-green);
	text-align: center; 
	margin-top: 10px; 
	font-family: "Lucida Console", Monaco, sans; 
	font-weight: bold;
	font-size: 22px; 
}

.selectFont{
    color: var(--general);
	text-align: center; 
	margin-top: 10px; 
	font-family: "Lucida Console", Monaco, sans; 
	font-size: 14px;
}

.textFont{
    color: var(--general);
	text-align: left; 
	margin-top: 10px; 
	margin-left: 20px; 
	font-family: "Lucida Console", Monaco, sans; 
	font-size: 14px;
}

.lhFont{
    color: var(--general);
    text-align: left; 
	margin-top: 10px; 
    font-family: "Lucida Console", Monaco, sans;
    font-size: 14px;
    font-weight: bold;
}

.slideContainer{
    transform: rotate(270deg);
	text-align: center;
    margin-top: 270%;
    margin-bottom: 60%;
}

.slider{
    align-items: center;
	-webkit-appearance: none;
	width: 300%;
	height: 15px;
	border-radius: 8px;
	background: var(--bg-general);
	outline: none;
	opacity: 0.4;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover{
	opacity: 1;
}

.slider::-moz-range-thumb{
	width: 33px;
	height: 33px;
	border-radius: 50%;
	background: var(--general);
	cursor: pointer;
}

.slider::-webkit-slider-thumb{
	-webkit-appearance: none;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	background: var(--general);
	cursor: pointer;
}

.slider::-ms-thumb{
    width: 33px;
	height: 33px;
	border-radius: 50%;
	background: var(--general);
    cursor: pointer;
}

#submit{
	font-family: "Lucida Console", Monaco, sans;
	margin-top: 10px;
	margin-bottom: 20px;
	background-color: black;
	padding: .8em;
	-moz-border-radius: 15px;
	-webkit-border-radius: 5px;
	border-radius: 15px;
	color: var(--general);
	font-size: 20px;
	text-decoration: none;
	border-color: var(--general);
	border-style: solid;
	border-width: medium;
}

#submit:hover{
	background-color: var(--bg-general);
}